body {
    font-family: arial, sans-serif;
    margin: 0;
}

.page-container {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
}

.section {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    width: 100vw;
}

.content-section {
    display: flex;
    flex-flow: column wrap;
}

.alternate {
    align-items: center;
    background-color: #0057A3;
    color: white;
    justify-content: flex-end;
}

.content-header {
    font-size: 1.5rem;
}

.splash-header {
    background-color: #0057A3;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    height: 14rem;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 100vw;
}

.content-container {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
}

.content {
    box-sizing: border-box;
    margin: 1rem 0;
    padding: 0 2rem;
    width: 100%;
}

.supporting-image {
    box-sizing: border-box;
    height: fit-content;
    max-width: 100%;
    padding: 1rem;
}

.ryan-photo {
    height: fit-content;
    max-width: 100%;
}

.footnote {
    font-size: 0.75rem;
}

.about-us-section {
    margin-bottom: 1rem;
    padding: 0 2rem;
}

@media (min-aspect-ratio: 10/7.5) {
    .main-heading {
        font-size: 4rem;
        margin: 0;
    }

    .splash-subtitle {
        font-size: 2rem;
    }

    .section {
        font-size: 3rem;
    }

    .content-section {
        flex-flow: row nowrap;
    }

    .content-header {
        font-size: 2.5rem;
    }

    .content {
        font-size: 1.75rem;
        width: 60%;
    }

    .supporting-image {
        max-width: 35%;
    }

    .alternate {
        text-align: right;
    }

    .footnote {
        font-size: 1.25rem;
    }

    .about-us-section {
        display: flex;
        flex-flow: row wrap;
        font-size: 1.5rem;
        justify-content: space-around;
    }

    .one-third {
        max-width: 30%;
        width: 30%;
    }

    .two-thirds {
        width: 63%
    }

    .ryan-photo {
        align-self: center;
        height: fit-content;
    }

    .to-do {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .footer > h2 {
        font-size: 3rem;
    }

    .footer > p {
        font-size: 2rem;
    }
}

.footer {
    background-color: #0057A3;
    color: white;
    text-align: center;
}

.light-link {
    color: white;
}

.light-link:visited {
    color: #DDDDDD;
}

.light-link:active {
    color: #FFAAFF;
}
